<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hardion - Create article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Create an article</h1>

    <div th:if="${errorTitleExist} != null">
        <p>Title already exist ! Choose another one.</p>
    </div>

    <form action="#" th:action="@{/article}" th:object="${articleForm}" method="post">
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Content: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>

</body>

</html>