<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hardion - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:include="header :: header"></th:block>

    <h1>Last articles</h1>

    <div th:if="${errorArticleNotExist} != null">
        <p>Article not exist ! Choose another one.</p>
    </div>

    <ul>
        <li th:each="article : ${articles}">
            <a th:href="@{/read/{articleId}(articleId=${article.id})}">
                <span th:text="${article.title}"></span> by
                <span th:text="${article.user.login}"></span>
            </a>
        </li>
    </ul>

    <a href="/article">Create an article</a>
</body>

</html>